body {
  margin: 0;
}

header {
  text-align: center;
  
  margin: 0;
  perspective: 300px;
}

nav {
  border-bottom: 3px solid;
  padding: 10px;
  height: 20px;
  background-color: black;
  border-radius: 20px;
  margin: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  transition: color 0.3s; 
  color: white;
}

nav a:hover {
  color: #00FF00; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #585252;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: white;
}

.dropdown-content a:hover {
  background-color: #454040;
}

.dropdown:hover .dropdown-content {
  display: block;
}



main {
  padding: 20px;
}

article {
  margin-bottom: 20px;
}

.login{
  float: right;
}

.nav1{
  border-bottom: 0;
  padding: 10px;
}

.logo img {
  float: left;
  margin-left: 30px;
}
.logo a p{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
.logo p:link, .logo p:visited {
  color: #000;
}
.search-box{
  display: inline-block;
  margin: 20px;
}

.search-box input {
  width: 900px; 
  padding: 10px; 
}

.search-box button {
  padding: 10px; 
}

h1{
  float: left;
  margin-left: 100px;
}

h1 a{
  height: 0;
  width: 0;
}

header img {
  width: 95px;
  margin: 0;
  /* transform: translate(1px, -20px) rotateY(0deg);
  transition: transform 5s ease-in-out; */
}

header img:hover {
  /* transform: translate(200px, -30px) rotateY(3600deg); */
}


.nav2{
  background-color: black;
  height: 40px;
}
.nav2 li{
  margin-left: 30px;
  float: left;
}

.nav2 a {
  color: white;
  text-decoration: none;
  transition: font-size 0.5s;
  line-height: 40px;
}

.nav2 a:hover {
  color: #00FF00;
  font-size: 25px;
}

.menubutton{
  float: left;
  margin-left: 20px;
  border-radius: 25px;
  width: 100px;
  height: 20px;
  background-color: black;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
  
}
.menubutton:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;
}

footer {
  background-color: #3d3b3b;
  color: #aba7a7;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .search-box input {
      width: 100%; 
  }
}

@media screen and (max-width: 425px) {
  .search-box input {
      width: 100%; 
  }
  #unvisable {
    visibility: hidden;
  }
}

/* ------------------ 나라별 날씨 페이지 -----------------------*/
.weather {
  border: 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  /*background: linear-gradient(to right bottom, #ebedaf, white);*/
}

span {
  color: rgb(8, 97, 105);
  font-weight: bolder;
  font-size: large;
  text-shadow: 1.5px 0.5px 0 white;
}

div i span a:link {
  color: rgb(8, 97, 105);
}

div i span a:visited {
  color: rgb(8, 97, 105);
}


i {
  padding-top: 3px;
  padding-left: 5px;
}


/* 광고배너 및 상품 영역 */
.ad {
  /* width: 1200px; */
  height: 300px;
  margin: 10px auto 100px;
  background-image: url(https://picsum.photos/id/242/1500/300);
  background-position: center;
}
.ad h1 {
  background-color:rgba(240, 255, 255, 0.3);
  margin: 0px;
  padding: 10px;
  font-family: 'NanumAmSeuTeReuDam';
  letter-spacing: 7px;
}
.product-container {
  width: 1200px;
  margin: 10px auto;
}
.product-container h2 {
  text-align: center;
  margin-bottom: 50px;
}
.product-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  /* float: left; */
}
.product-list img {
  width: 240px;
  height: 160px;
}
.product-list li {
  width: 240px;
  height: 296px;
  float: left;
  /* margin: 10px;  */
  border: 1px solid #ddd;
  position: relative;
}
.product-list li img {
  z-index: 5;
}
.product-button {
  background-color: rgba(0, 0, 0, 0.3);
  width: 240px;
  height: 160px;
  z-index: 10;
  position: absolute;
  top: 0px;
  opacity: 0;
}
.product-button-box {
  width: 115px;
  margin-top: 40px;
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}

.product-button-box div {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.button1 {
  background-color: #3992ff;
  
}
.button2 {
  background-color: #888;
}

.product-button-box a:visited, .product-button-box a:link {
  color: #ddd;
}


.product-explain {
  background-color: #fff;
  width: 200px;
  padding: 0px 20px;
  position: absolute;
  top: 160px;
  transition: all 0.2s ease-in;
  z-index: 15;
}
.product-explain p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-list li:hover .product-explain {
  transform: translateY(-60px);
}
.product-list li:hover .product-button {
  opacity: 1;
}
.product-list li:hover {
  border: 1px solid #3992ff;
}
.button1:hover {
  background-color: #1d82fe;
}
.button2:hover {
  background-color: #787878;
}



.product-explain p {
  width: 200px;
  height: 43px;
}
.product-price {
  background-color: #fff;
  width: 200px;
  height: 68px;
  color: tomato;
  text-align: right;
  padding: 0px 20px;
  margin: 0px;
  /* border: 1px solid; */
  position: absolute;
  bottom: 0px;
  line-height: 68px;
  z-index: 20;
}

/* ------------------ 실시간 환율 페이지 ----------------------- */

.er-box {
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  width: 95%;
  height: 45vh;
  margin: 10px auto;
  padding: 10px;
}
@media screen and (max-width:426px) {
  .er-box {
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
    height: 275px;
    margin-top: 20px;
    padding: 10px;
  }
}

.er-title {
  color: white;
  padding: 15px;
}

.rate {
  border: 1px solid white;
  background-color: black;
  border-radius: 10px;
  width: 700px;
  padding: 5px;
  margin: 10px;
  display: block;
}
@media screen and (max-width:426px){
  .rate {
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
    width: 380px;
    display: block;
  }
}

.rate span {
  color: white;
}

.country {
  width: 30px;
  padding-top: 5px;
  padding-right: 5px;
}

#box01 {
  float: left;
  width: 60%;
}

#box02 i{
  float: left;
  margin-left: 400px;
  margin-top: 100px;
  width: 50px;
}

#earth {
  float: right;
  color: white;
}

@media screen and (max-width: 426px){
  #earth {
    visibility : hidden;
  }
}

@media screen and (max-width: 426px){
  .product-container {
    width: 385px;
    height: 600px;
  }
  .product-list {
    font-size: 8px;
    display: inline-block;
    width: 385px;
    height: 450px;
  }
  .product-list img {
    width: 120px;
    height: 80px;
  }
  .product-list li {
    width: 120px;
    height: 148px;
    margin: 20px 30px;
  }
  .product-button {
    width: 120px;
    height: 80px;
  }
  .product-button-box {
    width: 58px;
    margin-top: 20px;
    margin: 20px auto;
  }
  .product-button-box div {
    width: 24px;
    height: 24px;
  }
  .product-explain {
    background-color: #fff;
    width: 100px;
    padding: 0px 10px;
    position: absolute;
    top: 80px;
    transition: all 0.2s ease-in;
    z-index: 15;
  }
  .product-list li:hover .product-explain {
    transform: translateY(-30px);
  }
  .product-explain p {
    width: 100px;
    height: 21px;
  }
  .product-price {
    background-color: #fff;
    width: 100px;
    height: 34px;
    color: tomato;
    text-align: right;
    padding: 0px 10px;
    margin: 0px;
    /* border: 1px solid; */
    position: absolute;
    bottom: 0px;
    line-height: 34px;
    z-index: 20;
  }
  .search-box input {
    width: 200px;
  }
}