body {
  margin: 0;
}

header {
  text-align: center;
  
  margin: 0;
  perspective: 300px;
}

nav {
  border-bottom: 3px solid;
  padding: 10px;
  height: 20px;
  background-color: black;
  border-radius: 20px;
  margin: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  transition: color 0.3s; 
  color: white;
}

nav a:hover {
  color: #00FF00; 
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #585252;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: white;
}

.dropdown-content a:hover {
  background-color: #454040;
}

.dropdown:hover .dropdown-content {
  display: block;
}



main {
  padding: 20px;
}

article {
  margin-bottom: 20px;
}

.login{
  float: right;
}

.nav1{
  border-bottom: 0;
  padding: 10px;
}
.logo img {
  float: left;
  margin-left: 30px;
}
.logo a p{
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}
.logo p:link, .logo p:visited {
  color: #000;
}
.search-box{
  display: inline-block;
  margin: 20px;
}

.search-box input {
  width: 900px; 
  padding: 10px; 
}

.search-box button {
  padding: 10px; 
}

h1{
  float: left;
  margin-left: 100px;
}

h1 a{
  height: 0;
  width: 0;
}

header img {
  width: 95px;
  margin: 0;
  /* transform: translate(1px, -20px) rotateY(0deg);
  transition: transform 5s ease-in-out; */
}

header img:hover {
  /* transform: translate(200px, -30px) rotateY(3600deg); */
}


.nav2{
  background-color: black;
  height: 40px;
}
.nav2 li{
  margin-left: 30px;
  float: left;
}

.nav2 a {
  color: white;
  text-decoration: none;
  transition: font-size 0.5s;
  line-height: 40px;
}

.nav2 a:hover {
  color: #00FF00;
  font-size: 25px;
}

.menubutton{
  float: left;
  margin-left: 20px;
  border-radius: 25px;
  width: 100px;
  height: 20px;
  background-color: black;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
  
}
.menubutton:active{
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;
}

footer {
  background-color: #3d3b3b;
  color: #aba7a7;
  padding: 10px;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .search-box input {
      width: 100%; 
  }
}

@media screen and (max-width: 425px) {
  .search-box input {
      width: 100%; 
  }
}

/* 일본 페이지 시작 */

#container {
  background: url(../images/japan01.jpg);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.box {
  padding: 10px;
  margin: 10px;
  background-clip: border-box;
  background-color: rgba(255, 255, 255, 0.7);
}

#title {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

#travelinfo {
  border: 1px solid black;
  border-radius: 10px;
}

#foodinfo {
  border: 1px solid black;
  border-radius: 10px;
}

#accominfo {
  border: 1px solid black;
  border-radius: 10px;
}

@media screen and (max-width: 425px) {
  .box {
    font-size: 0.5rem;
    font-weight: normal;
  }
  .hidden {
    visibility: hidden;
  }  
}